body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttons {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

button {
    width: 130px;
    padding: 10px 10px;
    background-color: aquamarine;
    border-radius: 10px;
    border: 2px solid rgb(146, 146, 146);
    box-shadow: 1px 1px 10px rgb(190, 190, 190);
    font-size: 15px;
    margin: 0 20px;
}

button:hover {
    box-shadow: 1px 1px 20px rgb(190, 190, 190);
    border: 2px solid rgb(106, 106, 106);
}

button:active {
    background-color: rgb(97, 225, 182);
}